html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



.container{
    margin: 0 auto; 
    margin-top: 25px;
    display: block;
    width: 720px;
    margin-bottom: 25px;
}



.active_criteria{
    display: flex;
    background-color: rgb(156, 148, 148);
    justify-content: space-between;
    color:  rgb(248, 248, 248);
    font-size: 24px;
    align-items: center;
    margin: 3px;
    border: 1px solid rgb(77, 75, 75);
}
.congnitive_criteria{
    display: flex;
    background-color: rgb(233, 142, 5);
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 3px;
    border: 1px solid black;
}
.title_criteria{
    display: inline-block;
    width: 55px;
    height: 40px;

    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 5px;
    text-align: center;
}


/* .criteria-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
} */
.input {
    text-align: center;
    width: 40px;
    height: 40px;
}
.amount-criteria-box {
    display: block;
    float: right;
    margin-right: auto;
    margin-left: 0;
    border: 1px solid black;
}
.form {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 15px;
    
}

.form__title {
    margin: 15px;
}
.input-amount{
    border: 3px solid black ;
    width: 50px;
    height: 50px;
   
}

.input-amount {
    border: 3px solid black;
    font-weight: 700;
} 

.box-amount {
    display: block;
    text-align: center; 
    margin: 0 auto; 
    margin-top: 15px;
    /* padding-top: 25px; */
    /* margin-bottom: 25px;   */
}
.button { 
    margin: 0;
    border: none;
    background-color: rgb(61, 59, 59);
    color: white;
}
.another-btn{
    background-color: rgb(255, 166, 0);
}
.text-btn{
 font-size: 28px;
 /* margin-top: 55px; */
}


.input-decorate{
    margin-left: 15px;
    width: 75px;
    height: 50px;
    border: 3px solid;
    font-size: 35px;
}

.input-decorate1{
    margin-left: 25px;
   

}
.base-amount{
    text-align: center;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;   
}